node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
!mobile/node_modules/react-native/node_modules/@react-native/codegen/lib/generators/components/GenerateEventEmitterCpp.js
!mobile/node_modules/react-native/node_modules/@react-native/codegen/lib/generators/components/GenerateEventEmitterH.js

# Secrets
*.json
!*package.json
!*package-lock.json
!*tsconfig.json
!*app.json
!google-services.json
!GoogleService-Info.plist

*service-account*.json
*serviceAccount*.json
*service_account*.json
serviceAccountKey.json
secrets.json
../Content/